<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/gif/png" href="https://cdn2.iconfinder.com/data/icons/goodreads-1/512/goodreads-round-4-256.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style='background-color:black'>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-xs-12 text-center">
            <img src="https://cdn0.iconfinder.com/data/icons/flaturici-set-7/512/apple-512.png" class='img-responsive' width="50%" height="50%" alt="apple"><br>
            <img src="https://cdn3.iconfinder.com/data/icons/trio-apple-watch/32/apple-watch-timepiece-512.png" class='img-responsive' width="50%" height="50%" alt="WATCH"><br>

            <img src="https://cdn1.iconfinder.com/data/icons/devices-4/512/imac-512.png" class='img-responsive' width="50%" height="50%" alt="Desktop"><br>
            <img src="https://cdn1.iconfinder.com/data/icons/devices-4/512/router-512.png" class='img-responsive' width="40%" height="40%" alt='router'><br>

            <img src="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/safari-512.png" class='img-responsive' width="50%" height="50%" alt="safari"><br>
            <img src="https://cdn2.iconfinder.com/data/icons/apps-3/512/Text_Edit.png" class='img-responsive' width="50%" height="50%"  alt="copy-pen"><br>

            <img src="https://cdn4.iconfinder.com/data/icons/X-Mac/education_icons/png/400/teachers_day.png" class='img-responsive' width="50%" height="50%" alt="apple"><br>
            
        </div>

        <div class='col-lg-8 col-xs-12 text-center'>
            <h1 style='color:lightgreen;'>Page not found</h1>
            <center><img style='display:inline' src="https://cdn4.iconfinder.com/data/icons/free-game-icons/64/Tree.png" class='img-responsive image-circle' width="10%" height="10%" alt="tree">
            <img style='display:inline' src="https://cdn0.iconfinder.com/data/icons/joker-circus-by-joker2011-d3g8h6s/128/lion.png" class='img-responsive image-circle' width="10%" height="10%" alt="lion">
            <img style='display:inline' src="https://cdn4.iconfinder.com/data/icons/free-large-boss-icon-set/512/Army_officer.png" class='img-responsive image-circle' width="10%" height="10%" alt="army-officer">
            </center>
            <br>
            <a href='/' role='button' class='btn btn-lg btn-success'>Go back to home</a><br>
        </div>

        <div class="col-lg-2 col-xs-12 text-center">
            <img src="https://cdn0.iconfinder.com/data/icons/ios-and-android-apps-icons-fresh-apps-icons/512/Sport_-512.png" class='img-responsive' width="50%" height="50%" alt="runner"><br>

            <img src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/partnership-512.png" class='img-responsive' width="50%" height="50%" alt="Handshake"><br>

            <img src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/social-512.png" class='img-responsive' width="50%" height="50%" alt="Group"><br>
            <img src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/growth-512.png" class='img-responsive' width="50%" height="50%" alt='book_stack'><br>

            <img src="https://cdn2.iconfinder.com/data/icons/weather-24/256/Cloudy_Day-512.png" class='img-responsive' width="50%" height="50%" alt="sun"><br>
            <img src="https://cdn2.iconfinder.com/data/icons/weather-24/256/Heavy_Rain-512.png" class='img-responsive' width="50%" height="50%"  alt="thunder-and-rain"><br>

            <img src="https://cdn2.iconfinder.com/data/icons/weather-24/256/Tornado-512.png" class='img-responsive' width="50%" height="50%" alt="tornado"><br>
            
        </div>
    </div>
</div>

</body>
</html>
