<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style='background-color:black'>

<div class="container">
    <div class="row">
        <div class='col-lg-12 col-xs-12 text-center'>
            <h1 style='color:lightgreen;'>Page not found</h1>
            <a href='/' role='button' class='btn btn-lg btn-success'>Go back to home</a>
        </div>
    </div>
</div>

</body>
</html>