{% extends "common.html" %}

{% block row1_column2 %}
<div class="col-md-7 text-center"><!--column2 start-->
    <div class="row"><!--Panel row 1 starts-->
      <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-heading">What is Golang?</div>
            <div class="panel-body">Image result for what is golang
Go, also known as golang, is a computer programming language whose development began in 2007 at Google, and it was introduced to the public in 2009. Go's three lead developers at Google were Robert Griesemer, Rob Pike, and Ken Thompson.</div>
            <div class="panel-footer">
                more info at <a target='_blank' href="http://www.computerhope.com/jargon/g/golang.htm">computerhope.com</a>
            </div>
          </div>
      </div>
       <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Comparision of Golang & Jave</div>
            <div class="panel-body">As opposed to Java, Go is compiled to machine code and is executed directly. Much like C. Because this does not have a VM machine it is very much different from Java.It is somewhere between C and C++.No Finally, Defer Instead.</div>
            <div class="panel-footer">more info at <a target='_blank' href="https://dzone.com/articles/comparing-golang-with-java">dozon.com</a></div>
          </div>
      </div>
    </div><!--Panel row 1 ends-->

        <div class="row"><!--Panel row 2 starts-->
      <div class="col-md-6">
          <div class="panel panel-warning">
            <div class="panel-heading">Features excluded intentionally</div>
            <div class="panel-body">To keep language simple and concise, following features commonly available in similar languages are ommitted.

                  <p>No support for type inheritance</p>

                  <p>No support for method or operator overloading</p>
            </div>
            <div class="panel-footer">
                more info at <a target='_blank' href="https://www.tutorialspoint.com/go/go_overview.htm">tutorialspoint.com</a>
            </div>
          </div>
      </div>
       <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">Environment SetUp</div>
            <div class="panel-body">You need the following two softwares available on your computer, <br>(a) Text Editor and <br>(b) The Go Compiler.<br>Examples of few editors include Windows Notepad, OS Edit command, Brief, Epsilon, EMACS, and vim or vi</div>
            <div class="panel-footer">more info at <a target='_blank' href="https://www.tutorialspoint.com/go/go_environment.htm">tutorialspoint.com</a></div>
          </div>
      </div>
    </div><!--Panel row 2 ends-->
  </div><!--column2 end-->


{% endblock %}

{% block next_link %}
 <ul class="pager text-center">
    <li><a href="#">Next</a></li>
  </ul>
{% endblock %}
