{% extends "common.html" %}

{% block row1_column2 %}
<div class="col-md-7 col-md-7 col-xs-12 text-center"><!--column2 start-->
    <div class="row"><!--Panel row 1 starts-->
      <div class="col-sm-12 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading">
                  <h1><a href="/blogs/supermarket/">Supermarket</a><h1>
            </div>
            <div class="panel-body">
              <a href="/blogs/supermarket/"><img src="http://www.galleriasm.com/images/upload/BranchBg/img_galleria_branch_th_bg4.jpg" class="img-responsive">
            </div></a>
            <div class="panel-footer">
              <h5 style="font-family: tahoma;font-weight: bold;">A <span style="color:blue">supermarket</span>   is a self-service shop offering a wide variety of food and household products, organized into aisles.
            </div>
          </div>
      </div>
    </div>  
</div>
{% endblock %}

<!-- {% block next_link %}
 <ul class="pager text-center">
    <li><a href="#">Next</a></li>
  </ul>
{% endblock %} -->
http://www.pyimagesearch.com/2014/01/12/my-top-9-favorite-python-libraries-for-building-image-search-engines/