<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
 <!--  <h2>Alerts</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  </div> -->
  <center>
  <div class="alert alert-danger">
    <h1 >You didn't enter <strong>Proper data</strong><h1><hr>
  </div>
  <div class="alert alert-info">
   <h2 > <strong>Username </strong>should contains only alphabet with with first letter capitalize,max length is 20</h2>
   <h2 > <strong>Email </strong>should be only gmail, max length is 30. eg. rishikesh@gmail.com</h2>
  </div>
  <center>
</div>

</body>
</html>
