{% extends "common.html" %}
    {% block js_angular_link %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    {% endblock %}

    {% block css_common_block %}
        <style>
            #small_created_at{
              color:green;
              font-family: helvetica;
            }

            a{
              text-decoration: none;
              text-shadow: gray;
            }
            #clicks{
              color:red;
              font-size: 50;

            }
            #message{
              color:gray;
              font-size: 30;
            }
        </style>
    {% endblock %}

    {% block row1_column2 %}
              <div class="col-md-7 col-xs-12 col-sm-7 col-lg-7 text-center"><!--column2 start-->
              <span id="clicks"> {{ clicks }} clicks</span> 
              <span id="message"> after 20 June 2017</span>
            <h2 style="color:gray">Hi <span style='color:green;font-family:sans-serif;'>{{ username }}</span></h2><hr>

         <!--  <span style='color:gray;font-weight: bold;'>View all gists at</span> &nbsp;<a href="https://gist.github.com/hygull" target="_blank">https://www.gists.github.com/hygull</a> -->
             <h3 style="font-weight: bold;font-family: tahoma;color: green;">Wecome to HyGo</h3>
            <hr> 
            {% verbatim %}
                <div ng-app="myApp" ng-controller="customersCtrl"> 

                      <span ng-repeat="obj in myDataList" >
                      <!--  ({{ $index + 1}}) -->
                         <i class="fa fa-plus" aria-hidden="true" ng-if="$index%2 == 0"></i> 
                       <i class="fa fa-qrcode" aria-hidden="true" ng-if="$index % 2!=0"></i>
                       <a href="{{obj.html_url}}" style='text-decoration: none;' target="_blank" role='button'> 
                      
                       {{ obj.description }}</a>
                       <br><small id='small_created_at'><span style='font-family: helvetica;color: gray;font-weight: bold;'>Posted on &raquo; </span>{{ obj.created_at }}</small> 
                        <hr>
                      </span>
                </div>
             {% endverbatim %}
            </div><!--column2 end-->
    {% endblock %}


    {% block next %}
          <ul class="pager" style="text-align: center;">
            <li><a href="#">Next</a></li>
          </ul>
    {% endblock %}


    {% block js_github_block %}
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
          var i = 1
          // var list = []
          $scope.myDataList = []
          $scope.justContinue = true
          // var justContinue = true
          while(true){
            console.log("Entered")
            $http.get("https://api.github.com/users/hygull/gists?pages="+i).then(function (response) {
                  // console.log("DATA",$scope.myDataList)
                  $scope.myDataList =  $scope.myDataList.concat( response.data );
                  // list = response.data
                  // if(response.data.length==0){
                  //   $scope.justContinue=false
                  // }
                  // console.log($scope.myDataList)
                  console.log(i,"time:",$scope.myDataList.length)    
            });
            // if(list.length==0){
            //       console.log("exiting")
            //       justContinue = false
            // } 
            // console.log("response", res)
            if(i==5){
              break
            }
            i = i + 1
          }
          console.log("exiting")
        });
    </script>
    {% endblock %}