{% extends "common.html" %}

    {% block row1_column2 %}
              <div class="col-md-7 text-center"><!--column2 start-->
            <h2 style="color:gray">Hi <span style='color:green;font-family:sans-serif;'>{{ username }}</span></h2><hr>

          <span style='color:gray;font-weight: bold;'>View my all gists at</span> &nbsp;<a href="https://gist.github.com/hygull" target="_blank">https://www.gists.github.com/hygull</a>
             <h3 style="font-weight: bold;font-family: tahoma;color: green;">Wecome to an execellent Go learning site</h3>
            <hr> 
            <i class="fa fa-plus" aria-hidden="true"></i> 
            <a href="https://gist.github.com/hygull/f8810d4f6e56bc4e2e277b33313ae9a0" target="_blank">Operator precedence</a><br><hr>

             <i class="fa fa-retweet" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/564a67122f359d6b8f30193e37b28c8a" target="_blank">3 different forms of for loop</a><br><hr>

             <i class="fa fa-search" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/0f7d8e3981d7690fbb4fcfd96a2df6b8" target="_blank">  Checking availability of keys in map </a><br><hr>

             <i class="fa fa-gavel" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/7d7ea0dc03ab51fceb673d2e3bad989f" target="_blank">strconv (Converting a string to an int)</a><br><hr>

             <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/89b669fdeb11279e50da183ac4d8c398" target="_blank">Pointer and memory allocation for an object with new keyword</a><br><hr>
            
             <i class="fa fa-qrcode" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/53792994c9f79e09d19ca5cf2bc7b853" target="_blank">Marshalling an array of structs into JSON</a><br><hr>

            <i class="fa fa-rss" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/d308d375b4d2a19bd087efc24d60b432" target="_blank">Variable number of arguments</a><br><hr>

            <i class="fa fa-sunflowers" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/d74b65b70fca4a8971014e7b44689a72" target="_blank"> 3 ways of using for loop with map</a><br><hr>

            <i class="fa fa-flash" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/b156afc49dd8b7a79d56bbaf83ebec26" target="_blank">To display a table from 1 to 10 in tabular form</a><br><hr>

            <i class="fa fa-flask" aria-hidden="true"></i>
            <a href="https://gist.github.com/hygull/33f4c43eb5d380a43863db850e78244c" target="_blank">Prime numbers, displaying primes(1-100) in tabular form</a><br><hr>
            </div><!--column2 end-->
    {% endblock %}


    {% block next %}
          <ul class="pager" style="text-align: center;">
            <li><a href="#">Next</a></li>
          </ul>
    {% endblock %}

