{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create a new post </title>
  <link rel="icon" type="image/gif/png" href="https://cdn2.iconfinder.com/data/icons/goodreads-1/512/goodreads-round-4-256.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    body{
      background-color: black;
    }
    form label{
      color:lightgreen;
    }
    strong {
      color:white;
    }
    .form-group-has-error {
      color:white;
    }
    img:hover{
      width: 41%;
      height: 41%
    }
    @media only screen and (max-width: 768px){
      img{
        width: 60%;
        height: 60%;
      }
      img:hover{
        width: 61%;
        height: 61%;
      }
    }

     @media only screen and (max-width: 450px){
        #column1, #column2{
            display: none;
            visibility: hidden;
        } 
     }
 input#id_title.textinput.textInput.form-control,#id_description  {
    background-color: gray;
    color: white;
    font-size: 15px;
  }
  </style>
</head>
<body>
<!-- <script>
                  window.fbAsyncInit = function() {
                    FB.init({
                      appId      : '183960815416449',
                      xfbml      : true,
                      version    : 'v2.8'
                    });
                    FB.AppEvents.logPageView();
                  };

                  (function(d, s, id){
                     var js, fjs = d.getElementsByTagName(s)[0];
                     if (d.getElementById(id)) {return;}
                     js = d.createElement(s); js.id = id;
                     js.src = "//connect.facebook.net/en_US/sdk.js";
                     fjs.parentNode.insertBefore(js, fjs);
                   }(document, 'script', 'facebook-jssdk'));
                </script> -->

 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=183960815416449";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container">
  <h3 class="text-center" style="color:lightgreen;"><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i> &nbsp; Create a new post</h3>

  <center><span style="color: lightgreen">Click<span> &raquo; <a href="/" style='color:pink'><i class="fa fa-motorcycle" aria-hidden="true"></i> &nbsp;Golang</a>&nbsp; | &nbsp;
  <a href="/dtl_home/" style='color:pink'><i class="fa fa-plane" aria-hidden="true"></i> &nbsp;Servirall</a>&nbsp;|&nbsp;<a href="/posts/" style='color:pink'><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;All posts</a>&nbsp;|&nbsp;<a href="/posts/videos/create" style='color:pink'><i class="fa fa-upload" aria-hidden="true"></i> &nbsp;Post new video</a><br>
<div class="fb-like" data-href="http://rishikesh67.pythonanywhere.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  </center>
  <hr>
      <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 text-center" id="column1">

           <center><img src="http://bestanimations.com/Books/Guestbooks/quill-sign-guestbook-animation-9.gif" class='img-responsive' width="40%" height="40%" alt="innovation" style="text-align: center"></center><br>

          <center><a href='/'>  
              <img src="https://cdn3.iconfinder.com/data/icons/luchesa-vol-9/128/Home-512.png" class='img-responsive' width="40%" height="40%"  alt="home">
          </a><center><br>
            
            <center><a href="/posts/">
            <img src="https://cdn2.iconfinder.com/data/icons/device-color/512/Untitled-19-512.png" class='img-responsive' width="40%" height="40%" role="button" alt="note"><br>
            </a></center>

            <center><img src="https://cdn1.iconfinder.com/data/icons/business-13/6144/13-512.png" class='img-responsive' width="40%" height="40%" alt="clock"></center><br>

            <center><img src="https://cdn1.iconfinder.com/data/icons/babies-color/300/19-512.png" class='img-responsive' width="40%" height="40%"  alt="mother"></center><br>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
        <form class="form" method="POST" action="">{% csrf_token %}<!--In case of action included-->
            {{ form|crispy }}  <!--{{ form.as_p }}-->

            <button type="submit" class="btn btn-primary btn-block"><h5> <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Post</h5></button>

        </form>

      </div> 

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center" id="column3">
            <center><img src="https://s-media-cache-ak0.pinimg.com/originals/bb/62/46/bb6246c85c65ddd0b35f8e6a817cb256.gif" class='img-responsive' width="40%" height="40%" alt="innovation" style="text-align: center"></center>



              <center><img src="https://cdn0.iconfinder.com/data/icons/seo-and-internet-marketing-1-1/512/22-512.png" class='img-responsive' width="40%" height="40%" alt="innovation" style="text-align: center"></center>
            
            <center><img src="https://cdn0.iconfinder.com/data/icons/purple-set/512/pen_markerpen_writer_ink-512.png" class='img-responsive' width="40%" height="40%"  alt="pen"><center>

            <center><img src="https://cdn3.iconfinder.com/data/icons/humano2/128x128/apps/openofficeorg-writer.png" class='img-responsive' width="40%" height="40%"  alt="pot"></center>
            <center><img src="https://cdn1.iconfinder.com/data/icons/elevator/154/elevator-ventilation-climate-conditioner-air-512.png" class='img-responsive' width="40%" height="40%" alt="ok"></center><br>

        
      </div> 
      </div><br><hr>
      <center><span style='color:lightgreen;font-family: sans-serif;'>Copyright©2017, Hygull<br>Bangalore, India +91 7353787704 
      <div class="fb-like" data-href="https://www.facebook.com/groups/gocoders/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </span><br><center>
    </div>
</body>
</html>
