<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='row'>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
			<div class="panel panel-success">
				<div class="panel-heading">
					<img class='img img-circle' width='100%' src='{{ image }}' alt='profile_image'>
					<br><h2>{{ name}}</h2>
					
				</div>
				<div class='panel-body'>
					<!-- <h2 style="color:red">Hey! It is very nice thing that you have your gmail account.</h2> -->
					<h5 style="color:green">Your Google Profile Id : <span style='color:navy;font-family: sans-serif;font-weight: bold;'>{{ id }}</span></h5>
					 <h5 style="color:green;font-family: sans-serif;font-weight: bold;"> Your Email Id : <span style='color:navy'>{{ email }}</span></h5>
				</div>
			</div>
			<a href='/' class="btn btn-lg btn-success"> Back to home  </a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			
		</div>
	</div>

	<!-- <center>
		<h2 style='color:green'>hello {{ profile_email }}</h2>

		<h3 style="color: navy;">&nbsp; {{ extra }}</h3>
	</center> -->
</body>


<!-- <h1><span style='color:green'>Profile name : </span>&nbsp; {{ name|safe }}</h1>
<h2><span style='color:green'>Profile Id : </span>&nbsp;{{ id|safe }}</h2>
<h3> <span style='color:green'>Profile email : </span>&nbsp;{{email|safe}}</h3><hr>
<h3><span style='color:green'>Profile image : </span></h3><img class='img img-rounded' src='{{ image|safe }}' alt='Rishikesh'> -->