<!DOCTYPE html>
<html lang="en">
<head>
  <title>Technical</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="text-center">GIT</h1>
 
  <a role="button" class="btn btn-info" href="https://git-scm.com/" target="_blank">download git <a/>
  <hr>
  <div class="row">
      <div class="col-md-4 col-xs-12">
          git add <hr>
          git commit <hr>
          git push <hr> 
          git fetch<hr>
          git config
      </div>
      <div class="col-md-4 col-xs-12">
          git log<hr>
          git status<hr>
          git rebase<hr>
          git merge
      </div>
       <div class="col-md-4 col-xs-12">
          git clone<hr>
          git remote<hr>
          git branch<hr>
          git checkout
      </div>
  </div> 


</body>
</html>
