<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/gif/png" href="https://cdn2.iconfinder.com/data/icons/goodreads-1/512/goodreads-round-4-256.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
 
  <center>
  <div class="alert alert-danger">
    <h1 >You didn't enter <strong>Pasted url</strong><h1><hr>
  </div>
  <div class="alert alert-info">
   <h2 > <strong>Url </strong>https://youtu.be/YB8oOwOra0Q  is the correct one</h2>
   <h2 > <strong>Url</strong>should be directly copied from youtube by right clicking on video</h2>
  </div>
  <center>
</div>

</body>
</html>
